$btnBGColor: #d8e0fd;
$btnColor:#3363ff;
$btnBGColorHover:#c2cffc;
$textColor:#3d3d3d;
$textHeaderColor:hsl(0, 0%, 5%);
$cardBGColor:#fff;
//nav
$navFooter: #3e65da;
//central box
$centralBoxColor:#91f1f8;
