@import '../../styles/variables/colors.scss';
.centralBox {
  max-width: 202em;
  background-color: $centralBoxColor;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
  margin:1rem 2rem;
  p {
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    line-height: 1.7;
    color: $textColor;
    margin-bottom: 2.5rem;
  }
}
