@import '../../styles/variables/colors.scss';
.gridItem {
  background-color: $cardBGColor;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  transition: 0.2s;
  margin:0 2rem;
  &:hover {
    transform: translateY(-0.1%);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  }
}

.cardImg {
  display: block;
  width: 100%;
  height: 12rem;
  object-fit: cover;
}

.cardContent {
  padding: 3rem;
}

.cardHeader {
  font-size: 1.5rem;
  font-weight: 500;
  color: $textHeaderColor;
  margin-bottom: 1.2rem;
  white-space: nowrap;
}

.cardText {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: $textColor;
  margin-bottom: 2.5rem;
  display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden; 
}

.cardBtn {
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  text-align: center;
  color: $btnColor;
  background-color: $btnBGColor;
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
  letter-spacing: 0.1rem;
  span {
    margin-left: 1rem;
    transition: 0.2s;
  }
    &:hover,
    &:active {
    background-color: $btnBGColorHover;
  }
  &:hover span,
  &:active span {
    margin-left: 1.5rem;
  }
}


  
  
  
 