.grid {
  display: grid;
  width: 174em;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  align-items: start;
}

@media only screen and (max-width: 60em) {
  .grid {
    grid-gap: 3rem;
  }
}
  