.root  {
  box-sizing: border-box;
  font-size: 40.5%;
  
}
.mainContainer {
  width: 100%;
  justify-content: center;
  display: flex;
  margin-top: 2rem;
}

.dateAndLinks {
  margin-top: 130px;
  width: 100%;
}

.dataPickerBox {
  position: relative;
}

@media only screen and (max-width: 540px) {
  .dateAndLinks {
    flex-direction: column-reverse;
    align-items: center;
  }
}



